* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets the background color to the webpages body*/
body {
    background-color: #d9dcd6;
}
/* sets the font of the class header  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* this sets the font size of the header text, Horiseon */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* this adds color to the seo inside the word Horiseon */
.header h1 .seo {
    color: #d9dcd6;
}
/* sets the navigation bar to the right side of the webpage, and sets it's font */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* makes sure no item markers are shown*/
.header nav ul {
    list-style-type: none;
}
/* moves the navigation to be inline (in a row instead of a column) */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* set's navigtion bar's hyperlinks text to white*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* sets the word size to 16px  */
p {
    font-size: 16px;
}
/* links to an image while setting the size of the image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* sets the images to be displayed on the left side */
.float-left {
    float: left;
    margin-right: 25px;
}
/* sets the images to be displayed on the right side */
.float-right {
    float: right;
    margin-left: 25px;
}
/* */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* moves the sidebar to the right side of the webpage  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Sets the margin and color of the text for everything in the side bar */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}
/* does the same as .benefit-lead */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}
/* does the same as .benefit-lead */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}
/*sets a margin and aligns the text in the sidebar  */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* does the same as .benefit-lead h3 */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* does the same as .benefit-lead h3 */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* sets the display type, margin and max size of image in the side bar. */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* does the same as .benefit-lead img */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* does the same as .benefit-lead img */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* sets the margin, padding, height, the type of font being used, background color and the text color for the article covering how search engine optimization works. */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* does the same as .search-engine-optimization but for the article that explains how online reputation management works */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* does the same as .search-engine-optimization but for the article that explains how social media marketing works */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* set's the img with the "desk with notebook on it, that shows how SEO works" max height */
.search-engine-optimization img {
    max-height: 200px;
}
/* set's the img with the "Laptop with a graph displayed on it's screen" max height */
.online-reputation-management img {
    max-height: 200px;
}
/* set's the img with the "table with lots of social media refrences" max height*/
.social-media-marketing img {
    max-height: 200px;
}
/* sets the margin size under the text and the font size for the h2 under .search engine optimization */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* sets the margin size under the text and the font size for the h2 under .online-reputation-management */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* sets the margin size under the text and the font size for the h2 under social-media-marketing */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*  */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*  */
.footer h2 {
    font-size: 20px;
}
