* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets the background color to the webpages body and to the word Horiseon*/
body, .header h1 .seo {
    background-color: #d9dcd6;
}
/* sets the font of the class header  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* this sets the font size of the header text, Horiseon */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* sets the navigation bar to the right side of the webpage, and sets it's font */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* makes sure no item markers are shown*/
.header nav ul {
    list-style-type: none;
}
/* moves the navigation to be inline (in a row instead of a column) */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/* set's navigtion bar's hyperlinks text to white*/
a {
    color: #ffffff;
    text-decoration: none;
}
/* sets the word size to 16px  */
p {
    font-size: 16px;
}
/* links to an image while setting the size of the image */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* sets the images to be displayed on the left side */
.float-left {
    float: left;
    margin-right: 25px;
}
/* sets the images to be displayed on the right side */
.float-right {
    float: right;
    margin-left: 25px;
}
/* */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* moves the sidebar to the right side of the webpage  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* Sets the margin and color of the text for everything in the side bar */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*sets a margin and aligns the text in the sidebar  */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* sets the display type, margin and max size of image in the side bar. */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* adds spacing so the words are not cramped together and are all readable */
.search-engine-optimization, .online-reputation-management, .social-media-marketing{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Sets img size*/
.search-engine-optimization img, .social-media-marketing img, .online-reputation-management img{
    max-height: 200px;
}

/* sets margins to keep it from looking squished, and adds a bigger font-size to make it easier to read */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2{
    margin-bottom: 20px;
    font-size: 36px;
}
/* sets the footer to be spaced out*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* sets only the h2 div in the footer font-size bigger so it can be read */
.footer h2 {
    font-size: 20px;
}
